<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>悲観的排他制御</title>
    </head>
    <body>
        <h1>メモ編集</h1>
        <h3 th:text="${errorMessage}"></h3>
        <h3 th:text="${message}"></h3>
        
        <form th:if="${memoForm != null}" th:action="@{/pessimistic/memo/{id}/edit(id=${memoForm.id})}" method="POST" th:object="${memoForm}">
            <label for="title">タイトル</label>
            <input id="title" name="title" type="text" th:field="*{title}"
                   required="required" maxlength="30" />

            <label for="content">内容</label>
            <textarea id="content" name="content" th:field="*{content}"
                      required="required" maxlength="1000">
            </textarea>

            <input type="submit" name="update" value="更新" />
            <input type="submit" name="cancel" value="キャンセル" />
        </form>
    </body>
</html>
