<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>悲観的排他制御</title>
    </head>
    <body>
        <form th:object="${memoForm}" th:action="@{/pessimistic/memo/{memoId}/edit(memoId=*{id})}" method="POST">
            <h1 th:text="*{title}">title</h1>

            <h3 th:text="${errorMessage}"></h3>
            <h3 th:text="${message}"></h3>

            <label>内容</label>
            <pre th:text="*{content}"></pre>
            
            <input type="submit" value="編集" />
        </form>
    
        <a th:href="@{/pessimistic/memo}">戻る</a>
    </body>
</html>
