<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>楽観的排他制御</title>
    </head>
    <body>
        <h1 layout:fragment="subTitle">メモ一覧</h1>
        
        <div layout:fragment="content">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <a th:href="@{/}" class="pull-right">戻る</a>
                    
                    <form action="/optimistic/memo" method="POST" th:object="${memoForm}">
                        <div class="form-group">
                            <label for="title" class="control-label">タイトル</label>
                            <input id="title" name="title" type="text" th:field="*{title}"
                                   required="required" maxlength="30"
                                   class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="content" class="control-label">内容</label>
                            <textarea id="content" name="content" th:field="*{content}"
                                      required="required" maxlength="1000" class="form-control">
                            </textarea>
                        </div>
                        
                        <input type="submit" value="登録" class="btn btn-primary" />
                    </form>
                </div>
            </div>
            
            <hr />
            
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <div class="list-group">
                        <a th:each="memo : ${memoList}"
                           th:href="@{/optimistic/memo/{id}(id=${memo.id})}" th:text="${memo.title}"
                           class="list-group-item">
                            title
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
