<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" type="text/css" />
        <title>排他制御サンプル</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="list-group">
                        <a class="list-group-item" th:href="@{/optimistic/memo}">楽観的排他制御</a>
                        <a class="list-group-item" th:href="@{/pessimistic/memo}">悲観的排他制御</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>