<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>ログイン</title>
    </head>
    <body>
        <h1 layout:fragment="subTitle">
            ログイン
        </h1>
        
        <div layout:fragment="content">
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <form action="login" method="POST" th:object="${loginForm}">
                        <div class="form-group">
                            <label for="loginUser" class="control-label">ログインユーザー</label>
                            <select id="loginUser" th:field="*{loginId}" class="form-control">
                                <option value="tom">トム</option>
                                <option value="john">ジョン</option>
                                <option value="mike">マイク</option>
                            </select>
                        </div>
                        <input type="submit" value="ログイン" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
